import { Schema } from "effect";

import { __SYMBOL__Id } from "./schemas.js";

export class __SYMBOL__NotFoundError extends Schema.TaggedError<__SYMBOL__NotFoundError>()(
  "__SYMBOL__NotFoundError",
  { id: __SYMBOL__Id },
) {}

export class __SYMBOL__UnavailableError extends Schema.TaggedError<__SYMBOL__UnavailableError>()(
  "__SYMBOL__UnavailableError", { operation: Schema.Literals(["get", "list"]) },
) {}
export class Invalid__SYMBOL__ResponseError extends Schema.TaggedError<Invalid__SYMBOL__ResponseError>()(
  "Invalid__SYMBOL__ResponseError", { operation: Schema.Literals(["get", "list"]) },
) {}
export const __SYMBOL__AccessError = Schema.Union([
  __SYMBOL__NotFoundError, __SYMBOL__UnavailableError, Invalid__SYMBOL__ResponseError,
]);
export type __SYMBOL__AccessError = typeof __SYMBOL__AccessError.Type;
